* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Gaya dasar halaman */
body {
    font-family: Arial, sans-serif;
    background-color: #ECE3CE;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Gaya formulir */
#registrationform {
    background-color: #739072;
    border: 1px solid #4F6F52;
    padding: 20px;
    border-radius: 5px;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Gaya label dan input */
label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
    outline: none;
}

/* Gaya tombol submit */
button {
    background-color: #3A4D39;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
}

/* Gaya tombol saat dihover */
button:hover {
    background-color: #4F6F52;
}
